*.log
.DS_Store
Thumbs.db

.env
.env.backup
.env.production
.env.*.local

.phpactor.json
.phpunit.result.cache
/.phpunit.cache

/.codex
/.cursor/
/.idea
/.nova
/.vscode
/.zed

/auth.json
/node_modules
/blockchain/node_modules
/blockchain/cache
/blockchain/artifacts
/blockchain/typechain-types
/blockchain/.env
/vendor

/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage

/storage/*.key
/storage/pail
/storage/logs/*.log

/database/*.sqlite
/database/*.sqlite-journal

_ide_helper.php
Homestead.json
Homestead.yaml
